.tabBox_main{
    width: 60%;
    height: 100%;
    padding-left: 10%;
    background-color: rgb(84, 244, 193);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.tabBox_item{
    width: 180px;
    height: 80%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;

}